<h1>About Me</h1>
<p>My name is Jonathan Cameron. My ultimate goal is to find what I love doing, and do that for work. My father told me to strive for that, and I think it's the best thing to do(for everyone!). I have an amazing daughter, and some good people in my life. I enjoy programming, video games, movies, playing guitar, beach, bbq, and relaxing(if possible). Thanks for visiting.

	Jonathan
</p>